---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<h2>Talks for SUPERB</h2>
<hr>

<ol>
  <li>
    <p><b>Conference presentation for SUPERB</b>, Interspeech 2021</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zd9fiVvej0k?si=QHCW-ykzJ8wFuS0X" title="SUPERB" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </li>
  <li>
    <p><b>Presentation in Mandarin</b>, Foxconn Technology Award, 2023/9/30</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/j-vwSwi6iZg?si=4UxF3-H91VlnY4aO" title="SUPERB (Mandarin)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </li>
</ol>
<br>


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
