
html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.lastResult {
  color: white;
  padding: 3px;
}

.guesses {
  background-color: yellow;
  font-size: 200%;
  box-shadow: 3px 3px 6px gray;
}
